body{
  background-color: #0353A4;
}
h1{
  font-size:350%;
  letter-spacing: 2px;
  color: #FFE1EA;
  text-decoration: underline;
  text-decoration-color: #FFE1EA;
  font-family: "Papyrus";
}
p{
  font-size: 200%;
  color: #FFE1EA;
  text-decoration: underline;
}
img{
  width: 500px;
  border-style: ridge;
  border-color: #FFE1EA; 
}
ul{
  text-align: center;
  list-style-type: none;
  font-family: "Papyrus";
  position: fixed; 
}
li{
  float: left;
  
}
li a{
  padding: 30px;
  color: #FFE1EA;
  border: ridge;
}
li a:hover{
  background-color: #ABDAFC;
  color: #B8336A;
  font-family: verdana;
}
